body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: blue;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: blue;
}
#cabecalho .nav .nav-link,
.navbar-brand
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}
.navbar-toggler {
    background-color: #fff;
}
.section-title {
    font-family: pacifico, cursive;
}
#sobre-o-restaurante, #cardapio {
    background-color: rgb(47, 47, 71);
}
.text-colored {
    color: blue;
}
.nav-cardapio .nav-link.active,
#contato button  {
    background-color: blue;
    color: #fff;
}
.nav-cardapio .nav-link:hover {
    color: blue;
}
.social-links li {
    list-style: none;
    display: inline;
}
.social-links a {
    text-decoration: none;
} 
@media (max-width: 767px) {
    .carousel-item img{
        height: 280px;
    }
}
